body {
  background-color: #000000 !important; /* Warna latar belakang halaman */
  /* From https://css.glass */

}

body::-webkit-scrollbar {
  width: 0em; /* Lebar scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: darkgray; /* Warna thumb (bagian yang dapat digerakkan) scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #343a40; /* Warna track (bagian yang tidak dapat digerakkan) scrollbar */
}

    .jumbotron {
      background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('https://ik.imagekit.io/tvlk/image/imageResource/2019/05/18/1558173405918-4b14a22511ea57a262d718fb07c86018.jpeg?tr=q-70');
      background-size: cover;
      background-position: center;
      color: white; /* Warna teks di dalam jumbotron */
      text-align: center;
      padding: 100px 20px; /* Sesuaikan dengan kebutuhan Anda */
      
    }
    .carousel {
      max-width: 100%; /* Sesuaikan lebar carousel dengan kebutuhan Anda */
      height: 300px !important;
      object-fit: cover;
    }
#Name {
  font-size: clamp(3rem, 10vw, 10rem);
      font-family: "Space Mono", monospace;
        transition: background 0.3s, color 0.3s, border-radius 0.3s;
  color: #c67b3f;
    }

img, carousel{
  border-radius: 12px;
	object-fit: cover;
	height: 300px;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  margin-top: auto;
  width: 100%;
  height: 50px; /* Atur tinggi yang diinginkan di sini */
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0; /* Sesuaikan padding jika diperlukan */
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Bagian header, konten, dan footer */
  min-height: 100vh; /* Set kontainer setidaknya setinggi layar */
}
/* style.css */

/* CSS untuk bagian belakang body */
.background-body {
    background: rgba(45, 45, 45, 0.53);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(45, 45, 45, 0.3);
}
